<div class="input">
    <label class="input__label" for{{name}}>{{label}}</label>
    <input 
        name="{{name}}"
        class="input__input" 
        type="{{type}}" 
        value="{{value}}" 
        placeholder="{{placeholder}}" 
    />
    <span class="input__error">{{errorMessage}}</span>
</div>
