<div class="profile-item">
    <span class="profile-item__label">{{label}}</span>
    {{#if isEdit}}
        <input 
            class="profile-item__input" 
            name="{{name}}"
            type="{{type}}" 
            value="{{value}}" 
        />
    {{else}}
        <span class="profile-item__value">{{value}}</span>
    {{/if}}
</div>
